#General
.idea

#Front

/kitsune_front/node_modules
/kitsune_front/.pnp
/kitsune_front/.pnp.js

/kitsune_front/coverage

/kitsune_front/build

/kitsune_front/.DS_Store
/kitsune_front/.env.local
/kitsune_front/.env.development.local
/kitsune_front/.env.test.local
/kitsune_front/.env.production.local

/kitsune_front/npm-debug.log*
/kitsune_front/yarn-debug.log*
/kitsune_front/yarn-error.log*

#Back

/server/node_modules